<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <!-- <span class="example-spacer"></span> -->
        <div class="navbar">
            <span class="navbar-item">Personal Loan</span>
            <span class="navbar-item">Home Loan</span>
            <span class="navbar-item">Busness Loan</span>
            <span class="navbar-item">Loan Against Property</span>
            <span class="navbar-item">Vehicle Loan</span>
        </div>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>
</p>